<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
  <div class="row">
    <h1>Account Settings</h1>
    <hr>

    <form class="form" name="form" ng-submit="updateProfile(form)" novalidate>
      <label><h3>Update Profile</h3></label>

      <div class="form-group">
        <label>What is Your Name</label>
        <input class="form-control" ng-model="user.name">
      </div>

      <div class="form-group">
        <label>Where do you live?</label>
        <input class="form-control" ng-model="user.location">
      </div>

      <div id="workerQuestions" ng-show="isWorker">
        <div class="form-group">
          <label>What are your skills/professions?</label>
          <input class="form-control" ng-model="user.skills">
        </div>

        <div class="form-group">
          <label>What is your hourly rate?</label>
          <input class="form-control" ng-model="user.rate">
        </div>

        <div class="form-group">
          <label>Anything else you would like to say about your work?</label>
          <textarea class="form-control" ng-model="user.advert"></textarea>
        </div>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Save Changes</button>
      <hr>
    </form>

    <form style="display:block" class="form" name="form" ng-submit="changePassword(form)" novalidate>
      <label><h3>Change Password</h3></label>

      <div class="form-group">
        <label>Current Password</label>
        <input type="password" name="password" class="form-control" ng-model="user.oldPassword">
      </div>

      <div class="form-group">
        <label>New Password</label>
        <input type="password" name="newPassword" class="form-control" ng-model="user.newPassword" ng-minlength="{{minPasswordLength}}">
        <p class="help-block"
           ng-show="(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)">
          Password must be at least {{minPasswordLength}} characters.
        </p>
      </div>

      <p class="help-block"> {{ message }} </p>

      <button class="btn btn-lg btn-primary" type="submit">Change Password</button>
    </form>


  </div>
</div>
