<header class="hero-unit" id="banner">
  <div class="container">
    <label>
      <h1>{{currentUser.name}}'s Dashboard</h1>
    </label>
  </div>
</header>

<div class="row-fluid">
  <div class="col-md-3">
    <br>
    <h3>Profile Snapshot</h3>
    <img src="{{currentUser.img_url}}" class="profile-pic img-rounded pull-left">
    <dl>
      <dt>Location</dt>
      <dd>{{currentUser.location}}</dd><br>
      <dt>Summary</dt>
      <dd>{{currentUser.summary}}</dd><br>
      <dt>User Rating</dt>
      <dd>{{currentUser.avg_rating}} </dd><br>
      <!-- Worker profile info -->
      <div ng-if="currentUser.accountType === 'Worker'">
        <dt>Skills</dt>
        <dd>{{currentUser.skills}}</dd><br>
        <dt>Rate</dt>
        <dd>{{currentUser.rate}}</dd><br>
      </div>
    </dl>
  </div>

  <div class="col-md-9">
    <br>
    <h3>Common Links</h3>
    <div class="row-fluid">
      <div class="col-md-6">
        <!--if user is client-->
        <p ng-if="currentUser.account_type !== 'Worker'">
          <a class="btn btn-primary btn-lg" href="/create-contract" role="button">Create A Contract</a>
        </p>

        <p ng-if="currentUser.account_type !== 'Worker'">
          <a class="btn btn-primary btn-lg" href="/end-contract" role="button">Ended Contracts</a>
        </p>

        <!--if user is worker-->
        <p ng-if="currentUser.account_type === 'Worker'">
          <a class="btn btn-primary btn-lg" href="/current-contracts" role="button">Current Contracts</a>
        </p>

        <p ng-if="currentUser.account_type === 'Worker'">
          <a class="btn btn-primary btn-lg" href="/past-contracts" role="button">Past Contracts</a>
        </p>
      </div>
    </div>
    <div class="row-fluid">
      <div class="col-md-6">
        <!--if user is client-->
        <p ng-if="currentUser.account_type !== 'Worker'">
          <a class="btn btn-primary btn-lg" href="/manage-contracts" role="button">Manage Contracts</a>
        </p>

        <p ng-if="currentUser.account_type !== 'Worker'">
          <a class="btn btn-primary btn-lg" href="/worker/search" role="button">Search Workers</a>
        </p>

        <!--if user is worker-->
        <p ng-if="currentUser.account_type === 'Worker'">
          <a class="btn btn-primary btn-lg" href="/applications" role="button">Applications</a>
        </p>

        <p ng-if="currentUser.account_type === 'Worker'">
          <a class="btn btn-primary btn-lg" href="/contract/search" role="button">Search Contracts</a>
        </p>
      </div>
    </div>
  </div>
</div>

