<header class="hero-unit" id="banner">
  <div class="container">
    <label>
      <h1>{{currentUser.name}}'s Dashboard</h1>
    </label>
  </div>
</header>

<div class="container">
  <div class="row-fluid">
    <div class="col-md-4">
      <br>
      <h3>Profile Snapshot</h3>
      <dl>
        <dt><img src="{{currentUser.img_url}}" class="profile-pic img-rounded"></dt>
        <dt>Location</dt>
        <dd>{{currentUser.location}}</dd><br>
        <dt>Summary</dt>
        <dd>{{currentUser.summary}}</dd><br>
        <dt>User Rating</dt>
        <dd>{{currentUser.avg_rating}} </dd><br>
        <!-- Worker profile info -->
        <div ng-if="currentUser.accountType === 'Worker'">
          <dt>Skills</dt>
          <dd>{{currentUser.skills}}</dd><br>
          <dt>Rate</dt>
          <dd>{{currentUser.rate}}</dd><br>
        </div>
      </dl>
    </div>

    <div class="col-lg-8">
      <br>
      <ul class="quicklinks nav nav-stacked col-md-6 col-lg-6 col-sm-6 ng-scope" ng-repeat="link in commonLinks"><br>
        <li>
          <a class="btn btn-primary btn-lg"ng-href="{{link.href}}" role="button">{{link.title}}</a>
        </li>
      </ul><br>
      </div>
    </div>

  </div>
</div>
