<div ng-include="'components/navbar/navbar.html'"></div>

<div class="dashboard col-md-8">
  <h3>Welcome, {{currentUser.name}}</h3>

  <h1>DASHBOARD</h1>

  <div class="col-md-6">
    <!--if user is client-->
    <p ng-if="currentUser.account_type !== 'Worker'">
      <a class="btn btn-primary btn-lg" href="/create-contract" role="button">Create A Contract</a>
    </p>

    <p ng-if="!currentUser.account_type !== 'Worker'">
      <a class="btn btn-primary btn-lg" href="/end-contract" role="button">Ended Contracts</a>
    </p>

    <!--if user is worker-->
    <p ng-if="currentUser.account_type === 'Worker'">
      <a class="btn btn-primary btn-lg" href="/current-contracts" role="button">Current Contracts</a>
    </p>

    <p ng-if="currentUser.account_type === 'Worker'">
      <a class="btn btn-primary btn-lg" href="/past-contracts" role="button">Past Contracts</a>
    </p>
  </div>

  <div class="col-md-6">
    <!--if user is client-->
    <p ng-if="currentUser.account_type !== 'Worker'">
      <a class="btn btn-primary btn-lg" href="/manage-contracts" role="button">Manage Contracts</a>
    </p>

    <!--if user is worker-->
    <p ng-if="currentUser.account_type === 'Worker'">
      <a class="btn btn-primary btn-lg" href="/applications" role="button">Applications</a>
    </p>
  </div>
</div>

<div class="col-md-4">
  <br><br>
  <h3>Profile snapshot:</h3>
  <img src="{{currentUser.img_url}}" class="profile-pic img-rounded pull-left">
  <dl class="lead dl-horizontal">
    <dt>Location</dt>
    <dd>{{currentUser.location}}</dd>
    <dt>Summary</dt>
    <dd>{{currentUser.summary}}</dd>
    <dt>User Rating</dt>
    <dd>{{currentUser.avg_rating}} </dd>
  </dl>

  <p><a class="btn btn-primary btn-sm" href="/edit-profile" role="button">Edit Profile</a></p>
</div>
